{% extends "base.html" %}
{% from "components/header.html" import render_header %}
{% from "components/footer.html" import render_footer %}

{% block head %}
<title>Voxlytics | 404</title>
{% endblock %}

{% block body %}
{{ render_header() }}

<section class="hero">
    <div class="hero-content">
        <h1 id="pageNotFound">404</h1>
        <p id="pageNotFoundInfo">This page could not be found.</p>
    </div>
    <div class="hero-btns">
        <a href="{{url_for('index')}}" class="btn btn-invite"><iconify-icon icon="lucide:home"></iconify-icon> Go back home</a>
        <a href="{{url_for('discord')}}" target="_blank" class="btn btn btn-support"><iconify-icon
                icon="lucide:square-arrow-out-up-right"></iconify-icon> Get Support</a>
    </div>
</section>

{{ render_footer() }}

{% endblock %}