{% extends "base.html" %}
{% from "components/header.html" import render_header %}
{% from "components/footer.html" import render_footer %}

{% block head %}
<title>Voxlytics</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/features.css') }}">
{% endblock %}

{% block body %}
{{ render_header() }}

<section class="hero">
    <div class="hero-content">
        <h1>Coming Soon</h1>
        <p>We're working on it. Check back soon.</p>
    </div>
    <div class="hero-btns">
        <a href="{{url_for('index')}}" class="btn btn-invite"><iconify-icon icon="lucide:home"></iconify-icon> Go back home</a>
        <a href="{{url_for('discord')}}" target="_blank" class="btn btn btn-support"><iconify-icon
                icon="lucide:square-arrow-out-up-right"></iconify-icon> Get Support</a>
    </div>
</section>

{{ render_footer() }}

{% endblock %}