{% extends "base.html" %}
{% from "components/header.html" import render_header %}
{% from "components/footer.html" import render_footer %}

{% block head %}
<title>Voxlytics</title>
{% endblock %}

{% block body %}
{{ render_header() }}

<section class="hero">
    <div class="hero-content">
        <h1>Voxlytics</h1>
        <p>The #1 Discord stats bot to view stats from any game on the Voxyl Network.</p>
    </div>
    <div class="hero-btns">
        <a href="{{url_for('invite')}}" target="_blank" class="btn btn-invite"><iconify-icon icon="ic:baseline-discord"></iconify-icon> Try
            on Discord</a>
        <a href="{{url_for('discord')}}" target="_blank" class="btn btn btn-support"><iconify-icon
                icon="lucide:square-arrow-out-up-right"></iconify-icon> Get Support</a>
    </div>
    <div class="player-search">
        <input type="text" placeholder="Search for a player..." class="player-input">
        <button type="submit" class="btn-search"><iconify-icon icon="lucide:search"></iconify-icon></button>
    </div>
</section>
<section class="trusted-section">
    <h1 class="trusted-heading">Trusted By</h1>
    <div class="stat-cards">
        <div class="card">
            <p class="type">Servers</p>
            <h2 class="stat">14</h2>
        </div>
        <div class="card">
            <p class="type">Users</p>
            <h2 class="stat">184</h2>
        </div>
        <div class="card">
            <p class="type">Commands Ran</p>
            <h2 class="stat">10,000+</h2>
        </div>
    </div>
</section>

<section class="feature-section">
    <div class="feature-scroll">
        <div class="feature-sticky">
            <div class="feature-content">

                <div class="feature-text">
                    <small id="feature-small">Feature 01</small>
                    <h1 id="feature-title">Players</h1>
                    <p id="feature-desc">
                        Voxlytics provides beautiful stat profiles for all players on the Voxyl Network.
                        Use <span class="command">/stats [player] [mode]</span> to view detailed in-game statistics.
                        Link your account with <span class="command">/link [player]</span> to make running commands
                        faster and easier.
                    </p>
                </div>

                <div class="feature-image">
                    <img id="feature-img" src="{{ url_for('static', filename='images/player.png') }}">
                </div>

            </div>
        </div>
    </div>
</section>

<section class="invite">
    <h1 class="invite-heading">What are you waiting for?</h1>
    <p class="invite-description">
        Invite Voxlytics today to enhance your Voxyl Network experience!
    </p>
    <a href="{{url_for('invite')}}" class="btn btn-invite">
        <iconify-icon icon="ic:baseline-discord"></iconify-icon>
        Try on Discord
    </a>
</section>

{{ render_footer() }}

{% endblock %}